/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/************ Font ***********/

@font-face {
  font-family: "MyFont";
  src: url("/fonts/protogrotesk-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/************ Farver **************/
html {
  --purple: #9e4268;
  --creme: #fffbed;
  --blue: #8bbee9;
  --yellow: #ffc76b;
  --grey: #383838;
}

/*********** h1 h2 h3 p ************/

h1 {
  font-family: "MyFont", sans-serif;
  font-size: 28px;

  color: var(--grey);
  text-align: center;
}

h2 {
  font-size: 23px;
  font-family: "MyFont", sans-serif;
  color: var(--grey);
}
h3 {
  font-size: 20px;
  font-family: "MyFont", sans-serif;
  color: var(--grey);
}

p {
  font-family: "MyFont", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: var(--grey);
}

@media (min-width: 801px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }

  p {
    font-size: 21px;
  }
}

/**************** Baggrundsfarve ******************/
body {
  background-color: var(--creme);
}
