/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************ Farver **************/
html {
  --purple: #9e4268;
  --creme: #fffbed;
  --blue: #8bbee9;
  --yellow: #ffc76b;
}
.h1 {
  font-size: 80px;
}
.h2 {
  font-size: 50px;
}
body {
  background-color: var(--creme);
}
