---
import "../styles/global.css";

---

<a href="tema_2.html" class="knap">Køb billet</a>


<style>
.knap {
  display: inline-block; 
  font-family: "Bowlby One", sans-serif;
  background-color: var(--yellow);
  color: var(--dark-grey);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.knap:hover {
  background-color: var(--purple);
  color: var(--creme);
}

</style>